body {
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
}

.order-summary {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
}
.order-summary img {
    width: 100%;
    max-width: 100px;
}
.free-shipping {
    color: green;
    font-weight: bold;
}

.penjelasan {
    width: 450px;
}

.form-control {
    width: 470px;
    height: 55px;
}

.shipping-option {
    height: 70px ;
    border-radius: 50px;
}
